body {
  margin: 0;
  background-color: whitesmoke;
    background-image: url('./images/background-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contact-card {
  background-color: white;
  flex-basis: 250px;
  margin: 20px;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
}

.contact-card > img {
  width: 100%;
  height: auto;
}

.contact-card > h3 {
  text-align: center;
}

.contact-card > p {
  font-size: 14px;
  padding-left: 3px;
}
.contact-card:hover{
  flex-basis: 300px;
  background-color: grey;
  color: white;
  transition: 3s ease;
}
.contact-card:active{
  background-color: whitesmoke;
}